.waypointname {
    color: rgb(255, 255, 255);
    -unity-font-definition: url('project://database/Assets/UI%20Toolkit/Fonts/Arial/arial%20SDF.asset?fileID=11400000&guid=38ba22dd634052b4997384e3e6f4773b&type=2#arial SDF');
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 2px;
    font-size: 48px;
}
